*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
    scroll-behavior: smooth;
}
body{
    background-color: #050e2d;
    width: 100vw;
    overflow-x: hidden;
}
/*scroll bar*/
::-webkit-scrollbar{
    width: 12px;
}
::-webkit-scrollbar-thumb{
    background: #1aeeef;
    border-radius: 6px;
    
}
header{
    position: fixed;
    top: 0%;
    left:0%;
    width: 100%;
    padding: 7px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1b2141;
    transition: 0.5s;
    z-index: 1000;
}
header .logo{
    position: relative;
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    font-weight: 700;
}
header .nav{
    display: flex;
    justify-content: center;
    align-items: center;

}
header ul li{
    list-style: none;
    margin: 10px;
    
}
header ul li a{
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
} 
header ul li a:hover{
    background-color: #1aeeef;
    color:#050e2d;
    box-shadow: 0 0 10px #1aeeef;
}
.form{
    padding: 10px 20px;
    width: 100%;
    position: absolute;
    top: 15%;
    left: 25% ;
}    
.form h1{
    color: #fff;
    font-size: 5em;
}
.form .inputBx{
    margin: 10px 0;
}
.form .inputBx p{
    color: #fff;
    font-size: 2em;
}
.form .inputBx input,
 .form .inputBx textarea{
    border: none;
    outline: none;
    padding: 10px;
    width: 50%;
    color: #fff;
    background: #1b2141;
    min-height: 15px;
    font-size: 1.1em;
}
 .inputBx input[type="submit"]{
    display: inline-block;
    padding: 10px 20px;
    margin: 15px 0;
    outline: none;
    background: transparent;
    border: 1px solid #1aeeef;
    text-decoration: none;
    font-weight: 700;
    width: 150px;
    border-radius: 5px;
    color: #fff;
    letter-spacing: 1px;
}
.form .inputBx input[type="submit"]:hover{
    background: #1aeeef;
    border: none;
    color: #050e2d;
    box-shadow: 0 0 10px #1aeeef;
}
.form .signin{
    display: inline-block;
    padding: 10px 20px;
    margin: 15px 0;
    outline: none;
    background: transparent;
    border: 1px solid #1aeeef;
    text-decoration: none;
    font-weight: 700;
    width: 150px;
    border-radius: 5px;
    color: #fff;
    letter-spacing: 1px;
    position: relative;
    left: 770px; ;
    bottom: 75px;
    font-size: 1.2em;
}
.form .signin:hover{
    background: #1aeeef;
    border: none;
    color: #050e2d;
    box-shadow: 0 0 10px #1aeeef;
}
.form .signin2{
    display: inline-block;
    padding: 10px 20px;
    margin: 15px 0;
    outline: none;
    background: transparent;
    border: 1px solid #1aeeef;
    text-decoration: none;
    font-weight: 700;
    width: 150px;
    border-radius: 5px;
    color: #fff;
    letter-spacing: 1px;
    position: relative;
    /* bottom: px; */
    font-size: 1.2em;
}
.form .signin2:hover{
    background: #1aeeef;
    border: none;
    color: #050e2d;
    box-shadow: 0 0 10px #1aeeef;
}